<div class="text-gray-900" style="background: #853DB1;">
    <div class="p-2 flex" >
        <%= image_tag('youse-tag.png', width: 150) %>
    </div>
    <div id="subway_image" class="px-3 py-4 flex justify-center">
        <div id="subway_initial"><%= image_tag('subway_door_0.gif') %></div>
        <div id="subway_door_1"><%= image_tag('subway_door_1.gif') %></div>
        <div id="subway_door_2"><%= image_tag('subway_door_4.gif') %></div>
    </div>
    <div class="px-3 py-4 flex justify-center">
        <table class="w-full text-md bg-white shadow-md rounded mb-4">
              <thead>
                <tr class="border-b">
                    <th class="text-left p-3 px-5"></th>
                    <th class="text-left p-3 px-5">Name</th>
                    <th class="text-left p-3 px-5">Trem</th>
                    <th class="text-left p-3 px-5">Vagão</th>
                    <th class="text-left p-3 px-5">Porta</th>
                    <th class="text-left p-3 px-5">Data</th>
                </tr>
              </thead>
              <tbody id="human_triggers">
                <% @human_triggers.each do |human_trigger| %>
                <tr class="border-b hover:bg-orange-100 bg-gray-100">
                    <td class="p-3 px-5"><%= image_tag(human_trigger.human.avatar_url, class: 'rounded-full', width: 50, height: 50) %></td>
                    <td class="p-3 px-5"><%= human_trigger.human.name %></td>
                    <td class="p-3 px-5"><%= human_trigger.beacon.wagon_door.train_wagon.train.name %></td>
                    <td class="p-3 px-5"><%= human_trigger.beacon.wagon_door.train_wagon.number %></td>
                    <td class="p-3 px-5"><%= human_trigger.beacon.wagon_door.number %></td>
                    <td class="p-3 px-5"><%= human_trigger.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
